:root {
    --main-gray: #303030;
}

html {
    font-size: 10px;
    font-family: "Helvetica Neue", "Arial", sans-serif;
    max-height: 100vh;
    max-width: 100vw;
}

body {
    overflow: hidden;
    background-color: rgba(243, 220, 192, 0.7);
}

/* #cursor {
    position: absolute;
    z-index: 5;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    outline: 2px solid rgba(255, 255, 255, 0.5);
    outline-offset: -2px;
    background-color: rgba(0, 0, 0, 0.2);
} */

.active {
    display: flex;
}

.inactive {
    display: none;
}

#background {
    float: left;
    height: 100vh;
    filter: blur(50px);
}

.background-bubble {
    height: 35rem;
    width: 35rem;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
}

.background-bubble.pink {
    background: #ecb0b0;
    top: -5rem;
    left: 75rem;
}

.background-bubble.orange {
    background: #f6a67a;
    top: 15rem;
    left: -5rem;
}

.background-bubble.blue {
    background: #7ac9f6;
    top: 20rem;
    left: 40rem;
}

.background-bubble.green {
    background: #d6f67a;
    top: 35rem;
    left: 90rem;
}

#start-page {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
}

#game-title {
    height: 15rem;
    display: inline-flex;
    padding: 2rem 5rem;
    justify-content: center;
    align-items: center;
    border-radius: 20rem;
    border: 1px solid var(--main-gray);
    background: #fff;
    white-space: nowrap;
    z-index: 1;
}

#game-title h1 {
    color: var(--main-gray);
    text-align: center;
    font-size: 11rem;
    font-weight: 400;
}

.play-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 2.4rem;
    border-radius: 4rem;
    border: 1px solid var(--main-gray);
    background: #d6f67a;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
    color: var(--main-gray);
    font-size: 3rem;
    font-weight: 400;
    cursor: pointer;
    z-index: 2;
}

.play-button:hover {
    background: #ecb0b0;
    box-shadow: none;
}

.special-margin {
    margin-top: -4.5vh;
}

.text-block {
    width: 17vw;
    color: var(--main-gray);
    font-size: 2rem;
    font-weight: 400;
    margin: 13vh auto;
}

@media (max-height: 650px) {
    .text-block {
        margin: 9vh auto;
    }
}

.text-block.right-aligned {
    text-align: right;
}

.text-block.left-aligned {
    text-align: left;
}

a {
    color: var(--main-gray);
    font-weight: 700;
    text-decoration: none;
}

a:hover {
    text-decoration-line: underline;
}

.white-star {
    position: absolute;
    height: 25rem;
    width: 25rem;
}

.white-star.left {
    left: 8vw;
    top: 8vh;
}

.white-star.right {
    right: 10vw;
    bottom: 10vh;
}

#game-page {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
}

/* #clock {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    background-image: conic-gradient(#d6f67a 0deg 300deg, transparent 305deg);
    border: 1px solid var(--main-gray);
    z-index: 5;
} */

#game-page > h1 {
    color: var(--main-gray);
    text-align: center;
    font-size: 3.5rem;
    font-weight: 400;
}

#game-container {
    width: 33rem;
    height: 33rem;
    border-radius: 10rem;
    border: 1px solid var(--main-gray);
    background: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 3rem;
    z-index: 1;
}

#level {
    padding: 1rem 4rem;
    border-radius: 10rem;
    border: 1px solid var(--main-gray);
    color: var(--main-gray);
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
}

.game-circle {
    border-radius: 50%;
    cursor: pointer;
}

.game-circle:hover {
    outline: 3px solid rgba(255, 255, 255, 0.5);
    outline-offset: -3px;
}

.vertical-line {
    border-left: 1px solid var(--main-gray);
    height: 90vh;
    position: absolute;
    top: 5vh;
}

.vertical-line.left {
    left: 3vw;
}

.vertical-line.right {
    right: 3vw;
}

.vertical-line.top {
    height: 20vh;
    left: 60vw;
}

.vertical-line.bottom {
    height: 20vh;
    left: 38.5vw;
    top: 75vh;
}

.end-page {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    height: 100vh;
    position: relative;
}

.end-page > h2 {
    display: flex;
    padding: 2rem 5rem;
    justify-content: center;
    align-items: center;
    border-radius: 20rem;
    border: 1px solid var(--main-gray);
    background: #fff;
    color: var(--main-gray);
    text-align: center;
    font-size: 8rem;
    font-weight: 400;
    margin-bottom: 0;
    z-index: 1;
}

.credits {
    color: var(--main-gray);
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    z-index: 1;
}

.dot {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    border: 1px solid var(--main-gray);
    position: absolute;
}

.dot.purple {
    background-color: #bd8aff;
    top: 50%;
    left: 1.8vw;
    transform: translateY(-50%);
}

.dot.pink {
    background-color: #f98acc;
    top: 50%;
    right: 1.8vw;
    transform: translateY(-50%);
}

.dot.blue {
    background-color: #acd2ff;
    top: 23vh;
    left: 58.8vw;
}

.dot.orange {
    background-color: #f6a67a;
    top: 72vh;
    left: 37.3vw;
}

#progress-bar {
    width: 101vw;
    height: 1rem;
    position: fixed;
    bottom: 0;
}

#progress-bar-fill {
    width: 0;
    height: 100%;
    border-radius: 1rem;
    background-color: #5cbdf5;
    transition: width 1s ease;
}

.star-score {
    position: absolute;
    text-align: center;
    top: 25vh;
    left: 62vw;
    z-index: 1;
}

.purple-star {
    width: 100%;
    height: 100%;
}

.score {
    position: absolute;
    top: 29%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 400;
}

@media (max-height: 650px) {
    .star-score {
        top: 20vh;
    }
}
